<div class="jumbotron">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Cumulative P&L</h2>
        <p><a class="btn btn-default" href="@Url.Action("Pnl")">P&amp;L &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monthly Capital Values</h2>
        <p><a class="btn btn-default" href="@Url.Action("Capital")">Capital &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
