

<h2>P&amp;L</h2>

<div>
    <select id="selDate">
        <option selected="selected" value="2010-03-31">2010 1st Quarter</option>
        <option value="2010-06-30">2010 2nd Quarter</option>
    </select>
</div>
<div class="ct-chart ct-perfect-fourth"></div>

<script>
    function showPnl(selDate) {
        $.get('/api/Pnls/' + selDate, function (data) {
            console.log(data);
            var chartData = {
                labels: data.Labels,
                series: data.Data
            };
            new Chartist.Line('.ct-chart', chartData);
        });
    }

    $(function () {
        var selDate = $('#selDate').val();
        showPnl(selDate);

        $('#selDate').change(function() {
            showPnl($(this).val());
        });
    })
</script>