<div class="jumbotron">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Cumulative P&L</h2>
        <p><a class="btn btn-default" href="@Url.Action("Pnl")">P&amp;L &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monthly Capital Values</h2>
        <p><a class="btn btn-default" href="@Url.Action("Capital")">Capital &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Daily Returns</h2>
        <p><a class="btn btn-default" href="@Url.Action("DailyReturn")">Returns &raquo;</a></p>
    </div>
</div>
